# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List data science languages
* List data science libraries
* Table of Data Science tools
* Introducing arithmetic expression examples
* Multiply and add numbers

Some of the popular languages that Data Scientists use are:
1) Python
2) R
3) Java
4) C++

Some of the commonly used python libraries used by Data Scientists include:
1) Numpy
2) Pandas
3) Scikit-Learn

|Data Science tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|VS Code (Visual Studio Code)|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Leejo Aby Abraham